/* ------------------------------------------------- MENU ------------------------------------------------- */

section#menu {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    border: 3em solid #f6f8fa;
    background-color: var(--yellow-theme);
}

.menu-container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.menu-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    margin-top: 100px;
}

.menu-title span {
    background-color: var(--red-theme);
    font-weight: bold;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.menu-title h1 {
    font-size: 48px;
    color: #262626;
    margin-bottom: 15px;;
}

.menu-title p {
    font-size: 20px;
    color: #262626;
    margin-bottom: 70px;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 50px;

    box-sizing: border-box;
    align-items: center;

    margin-bottom: 70px;
}

/* ------------------------------------------------- MENU ------------------------------------------------- */

.menu-row {
    display: grid;
    grid-template-columns: 2fr 1fr;

    padding: 20px 0 20px 0;
    border-bottom: 1px dashed #262626;

    box-sizing: border-box;
}

.text-row {
    line-height: 1.8;
    text-align: left;
}

.text-row h4, .price-row {
    color: #262626;
    font-size: 19px;
    margin: 0;
}

.text-row p {
    font-size: 14px;
    color: #262626;
}

.price-row {
    width: 100%;
    text-align: right;
}

.description-row {
    text-align: left;
    
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* ------------------------------------------------- RESPONSIVE ------------------------------------------------- */

@media (max-width: 1500px) {
    .header-container, .section-content, .food-types-content, .vitrine-container {
        width: 80%;
    }

    .vitrine-items {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 1100px) {
    .header-container, .section-content, .food-types-content, .vitrine-container {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    .header-container, .section-content, .food-types-content, .vitrine-container {
        width: 95%;
    }

}

@media (max-width: 400px) {

    section#initial-content {
        background-image: url(../assets/background-burgers-home-top.jpg);
        background-size: cover;
        height: 600px;
    }

    .section-content {
        top: 220px;
    }

    .section-content span.section-title {
        font-size: 16px;
    }
    
    .section-content span.section-subtitle {
        font-size: 36px;
    }
    
    section#food-types {
        height: 100%;
    }

    .food-types-content {
        flex-direction: column;
    }

    .food-type-card {
        margin: 10px auto 10px auto;
    }

    section#vitrine {
        border: 1em solid #f6f8fa;
    }

    .vitrine-title {
        margin-top: 50px;
    }

    .vitrine-items {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .vitrine-card img {
        width: 200px;
    }

    .vitrine-container .menu-button {
        margin-top: 0px;
    }

    .info {
        flex-direction: column;
    }

    .info-container-1 {
        margin: 30px auto 30px auto;
    }
}
